<p id="notice"><%= notice %></p>

<p>
  <b>Start Date:</b>
  <%= @travel.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @travel.end_date %>
</p>

<p>
  <b>Destination:</b>
  <%= @travel.destination %>
</p>

<p>
	<b>Purpose</b>
	<%= @travel.purpose %>
</p>


<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Trips', travels_path %> | <%= link_to 'New Expense', new_travel_expense_path %>
