<h1>Listing clients</h1>

<table>
  <tr>
    <th>Client ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Taxpayer type</th>
    <th>Phone number</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.client_id %></td>
    <td><%= client.name %></td>
    <td><%= client.email %></td>
    <td><%= client.taxpayer_type %></td>
    <td><%= client.phone_number %></td>
    <td><%= client.date %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
