<h1>Travel Expenses</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Reimbursable?</th>
    <th>Date</th>
    <th>Method of Payment</th>
    <th>Details</th>
    <th>Purpose</th>
    <th>Seller</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travel_expenses.each do |travel_expense| %>
  <tr>
    <td><%= travel_expense.amount %></td>
    <td><%= travel_expense.reimbursable %></td>
    <td><%= travel_expense.date %></td>
    <td><%= travel_expense.method_of_payment %></td>
    <td><%= travel_expense.details %></td>
    <td><%= travel_expense.purpose %></td>
    <td><%= travel_expense.seller %></td>
    <td><%= link_to 'Show', travel_expense %></td>
    <td><%= link_to 'Edit', edit_travel_expense_path(travel_expense) %></td>
    <td><%= link_to 'Destroy', travel_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_travel_expense_path %> | <%= link_to 'Trips', travels_path %> | <%= link_to 'Add Trip', new_travel_path %>
