<p id="notice"><%= notice %></p>

<p>
  <b>Trip</b>
  <%= @travel_expense.travel.destination + 
        " (" + @travel_expense.travel.start_date.strftime("%m/%d/%Y") + " to " +
        @travel_expense.travel.end_date.strftime("%m/%d/%Y") + ")" %>
</p>

<p>
  <b>Amount:</b>
  <%= @travel_expense.amount %>
</p>

<p>
  <b>Reimbursable?</b>
  <%= @travel_expense.reimbursable ? 'Yes' : 'No' %>
</p>

<p>
  <b>Date:</b>
  <%= @travel_expense.date %>
</p>

<p>
  <b>Method of Payment:</b>
  <%= @travel_expense.method_of_payment %>
</p>

<p>
  <b>Purpose:</b>
  <%= @travel_expense.purpose %>
</p>

<p>
  <b>Details:</b>
  <%= @travel_expense.details %>
</p>

<p>
  <b>Seller:</b>
  <%= @travel_expense.seller %>
</p>


<%= link_to 'Edit', edit_travel_expense_path(@travel_expense) %> |
<%= link_to 'Back', travel_expenses_path %>
