<h1>General Expenses</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Reimbursable?</th>
    <th>Date</th>
    <th>Method of Payment</th>
    <th>Online?</th>
    <th>Seller</th>
    <th>Purpose</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gen_exps.each do |gen_exp| %>
  <tr>
    <td><%= gen_exp.amount %></td>
    <td><%= gen_exp.reimbursable ? 'Yes' : 'No' %></td>
    <td><%= gen_exp.date %></td>
    <td><%= gen_exp.method_of_payment %></td>
    <td><%= gen_exp.online ? 'Yes' : 'No' %></td>
    <td><%= gen_exp.seller %></td>
    <td><%= gen_exp.purpose %></td>
    <td><%= gen_exp.details %></td>
    <td><%= link_to 'Show', gen_exp %></td>
    <td><%= link_to 'Edit', edit_gen_exp_path(gen_exp) %></td>
    <td><%= link_to 'Destroy', gen_exp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_gen_exp_path %>
