<h1>Vehicle Expenses</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Method of payment</th>
    <th>Purpose</th>
    <th>Seller</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicle_expenses.each do |vehicle_expense| %>
  <tr>
    <td><%= vehicle_expense.vehicle.vehicle_model %></td>
    <td><%= vehicle_expense.amount %></td>
    <td><%= vehicle_expense.date %></td>
    <td><%= vehicle_expense.method_of_payment %></td>
    <td><%= vehicle_expense.purpose %></td>
    <td><%= vehicle_expense.seller %></td>
    <td><%= vehicle_expense.details %></td>
    <td><%= link_to 'Show', vehicle_expense %></td>
    <td><%= link_to 'Edit', edit_vehicle_expense_path(vehicle_expense) %></td>
    <td><%= link_to 'Destroy', vehicle_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_vehicle_expense_path %> | <%= link_to 'Vehicles', vehicles_path %> | <%= link_to 'Add Vehicle', new_vehicle_path %>
