<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @vehicle_expense.vehicle.vehicle_model %>
</p>

<p>
  <b>Amount:</b>
  <%= @vehicle_expense.amount %>
</p>

<p>
  <b>Reimbursable?</b>
  <%= @vehicle_expense.reimbursable ? 'Yes' : 'No' %>
</p>

<p>
  <b>Date:</b>
  <%= @vehicle_expense.date %>
</p>

<p>
  <b>Method of Payment:</b>
  <%= @vehicle_expense.method_of_payment %>
</p>

<p>
  <b>Online?</b>
  <%= @vehicle_expense.online ? 'Yes' : 'No' %>
</p>

<p>
  <b>Purpose:</b>
  <%= @vehicle_expense.purpose %>
</p>

<p>
  <b>Seller:</b>
  <%= @vehicle_expense.seller %>
</p>

<p>
  <b>Details:</b>
  <%= @vehicle_expense.details %>
</p>

<p>
  <b>Receipt:</b><br />
  <%= image_tag @vehicle_expense.receipt_url.to_s %>
</p>

<%= link_to 'Edit', edit_vehicle_expense_path(@vehicle_expense) %> |
<%= link_to 'Back', vehicle_expenses_path %> | <%= link_to 'Create PDF', vehicle_expense_path << ".pdf" %>
