<%= simple_form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :make %><br />
  </div>
  <div class="field">
    <%= f.input :vehicle_model %><br />
  </div>
  <div class="field">
    <%= f.input :year %><br />
  </div>
  <div class="field">
    <%= f.input :vin %><br />
  </div>
  <div class="field">
    <%= f.input :reg_no %><br />
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
