<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.vehicle_model %>
</p>

<p>
  <b>Business Vehicle?</b>
  <%= @vehicle.business_vehicle %>
</p>

<p>
  <b>VIN:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Registration Number:</b>
  <%= @vehicle.reg_no %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
